     <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Order API Manager</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
<div class="row">
              <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-plus fa-fw"></i>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <%= @fullOrder %><br><Br><br><br><br><Br>
                    <%= @data %>
                </div>
                <!-- /.panel-body -->
            </div>
          </div>
</div>